#nav-bar {
  /*"position: fixed;" allows for the nav-bar to remain at the same position on screen at all times, regardless of where in the page the user has scrolled to.*/
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  padding-left: 2em;
  padding-right: 2em;

  background: #00a087;
  color: #e8fdff;
}