#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;

  padding-left: 2em;
  padding-right: 2em;

  background: #00a087;
  color: #e8fdff;

  z-index: 1;
}

#nav-bar .logo {
  width: 80px;
  height: 80px ;
}

#nav-bar .header {
  /*The link below helped with centering the header vertically.*/
  /*https://css-tricks.com/centering-css-complete-guide/*/
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  padding-left: 10px;

  font-size: 200%;
}

#nav-bar input {
  /*The link below helped with centering the header vertically.*/
  /*https://css-tricks.com/centering-css-complete-guide/*/
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  right: 2em;

  height: 60px;
  width: 100px;

  font-size: 125%;
  color: #219986;

  background-color: #E7FDFF;

  border-radius: 5px;
  border: solid #000;
}

#nav-bar input:hover {
  filter: contrast(150%);
  cursor: pointer
}

#nav-bar input:focus {
  outline: none;
}