#tweet-stack {
  position: relative;
  top: 5em;

  margin-left: 2em;
  margin-right: 2em;
}

.tweet-box {
  border: solid #ddd;

  background-color: tomato;

  height: 200px;
}

.tweet-box header {
  background-color: #eee;

  height: 70px;
}

.tweet-box img {

  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;

  width: 50px;
  height: 50px;
}

.tweet-box h2 {
  position: absolute;
  top: -10px;
  left: 70px;
}

.tweet-box .username {
  position: absolute;
  top: 10px;
  right: 10px;
}

.tweet-box .tweet {
    /*The link below helped with centering the header vertically.*/
  /*https://css-tricks.com/centering-css-complete-guide/*/
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 100%;
  word-wrap: break-word;
}

.tweet-box footer {
  position: absolute;
  bottom: 0;
}