#tweet-stack {
  position: relative;

  margin-left: 2em;
  margin-right: 2em;
}

.tweet-box {
  background-color: white;

  height: 200px;

  border: solid #ddd;
  border-radius: 5px;

  margin-top: 2em;

  overflow-wrap: normal;
  overflow-x: hidden;
  overflow-y: hidden;
}

.tweet-box:hover {
  filter: saturate(250%);
  border: solid #bbb;
}

.tweet-box:hover .icons {
  color: #00a087;
}

.tweet-box header {
  position: relative;

  background-color: #f3f3f3;

  height: 70px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.tweet-box img {
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;

  width: 50px;
  height: 50px;

  border-radius: 5px;
}

.tweet-box h2 {
  position: relative;

  color: #5f7e86;

  bottom: 75px;
  left: 70px;
}

.tweet-box .handle {
  position: absolute;

  color: #888;

  top: 16px;
  right: 10px;
}

.tweet-box div {
  height: 55px;
}

.tweet-box .content {
  position: relative;

  top: 15px;
  left: 10px;

  width: 100%;
  overflow-wrap: break-word;
}

.tweet-box footer {
  position: relative;
  top: 30px;

  font-size: 75%;

  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 10px;

  width: 100%;
  border-top: solid #eee;
}

.tweet-box .icons {
  position: absolute;

  right: 10px;
  top: 11px;

  color: white;

  font-size: 140%;
}