$font-fam: 'Roboto Condensed', sans-serif;
$font-dark: #244751;

$bg-dim: #eee;
$bg-lite: #fff;

$theme-dark: #219986;
$theme-lite: #e7fdff;

$edge-dark: #000;
$edge-lite: #ddd;

$tweet-head: #f3f3f3;
$tweet-name: #5f7e86;

@mixin center-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin border($flavour) {
  border-color: $flavour;
  border-radius: 5px;
}