$font-fam: 'Roboto Condensed', sans-serif;
$font-dark: #244751;

// background colours
$bg-dim: #eee;
$bg-lite: #fff;

// general theme colours
$theme-dark: #219986;
$theme-lite: #e7fdff;

// border colours
$edge-dark: #000;
$edge-med: #bbb;
$edge-lite: #ddd;

// tweet-box colours
$tweet-head: #f3f3f3;
$tweet-name: #5f7e86;
$tweet-handle: #888;

@mixin center-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin border($flavour) {
  border: solid $flavour;
  border-radius: 5px;
}